*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 440px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    font-size: 30px;
    font-family: sans-serif;
}